/* {
    margin: 0;
    padding: 0;
} */

body
{
    font-family: 'poppins'; 
    background-color: #f8fafc;
    color: #222;
}

img{
    width: 100%;
    /* display: flex; */
}

h1 
{
    font-size: 2.027rem;
    margin-bottom: 10px;
}

h2 
{
    font-size: 1.802rem;
    margin-bottom: 20px;
    text-align: center;
}

h3
{
    font-size: 1.266rem;
}

p 
{
    margin-bottom: 10px;
}

.wrapper 
{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header .wrapper 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul 
{
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a 
{
    text-decoration: none;
    color: #222;
}

.product 
{
    /* background-color: forestgreen; */
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.product-images
{
    /* background-color: aquamarine; */
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 15px;
    height: auto;
}

.product-images img:first-child
{
    grid-column: 1/ -1;
}

.product-info a
{
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    margin-top: 10px;
}

.product-info 
{
    flex: 1;
    max-width: 500px;
}

.behind-content 
{
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.testimonials
{
    background-color: #000;
    color: #fff;
    padding: 30px 20px;
}

.testimonials h2
{
    color: #fff;
}

.testimonials-content 
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.products-grid div 
{
/* background-color: #fff; */
padding: 10px;
text-align: center;
}

footer 
{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 15px;
}

@media (min-width: 768px) 
{

    .product
    {
        flex-direction: row; 
        align-items: flex-start;
        gap: 40px;
    }

    .product-images
    {
        flex: 1;
    }


    .products-grid
    {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        
    }

    .products-grid 
    {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    }
    

}

@media (min-width: 960px)
{
    .products-grid 
    {
        /* background-color: aqua; */
        grid-template-columns: repeat(4, 1fr);
    }
    .behind-content
    {
        flex-direction: row;
        display: flex;
    }
    .testimonials-content
    {
        flex-direction: row;
        display: flex;
    }
    header ul 
    {
        gap: 40px;
    }
}

